.benefit {
    width: 100vw;
    background-image: linear-gradient(rgba(66, 66, 66, 0.548), transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 100px 100px 0px 0px;
    color: white;
    text-align: center;
    cursor: default;

    h2 {
        margin-top: 10px;
        font-family: 'Passion One', impact;
        font-size: xxx-large;
    }

    p {
        padding: 30px;
    }
}

.benefit-box {
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#b-s-i-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/opensource.png");
}

#b-s-i-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/cp.png");
}

#b-s-i-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/project.png");
}

.benefit-single-item {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    width: calc(100vw / 3);
    transition: 0.2s ease-in;
    cursor: default;
    overflow: hidden;
    position: relative;
    /* img {
        height: 250px;
        width: calc(100vw / 3);
        z-index: 999;
        position: absolute;
        filter: grayscale(100%);
    } */

    h2 {
        color: rgb(255, 255, 255);
        font-size: x-large;
        text-align: left;
        z-index: 1000;
        position: relative;
        padding: 10px;
    }

    p {
        padding: 10px;
        margin-top: 30px;
        color: rgb(255, 255, 255);
        text-align: justify;
        z-index: 1000;
        position: relative;
    }
}

.benefit-single-item:hover {
    scale: 102%;
    box-shadow: 0 0 20px 1px #48abe0;
}