.popup-container {
    background-color: rgba(0, 0, 0, 0.692);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

/* @keyframes aftereffectshow {
    0% {
        opacity: 0;
        display: block;
    }

    99% {
        display: block;
    }

    100% {
        top: 0;
        display: block;
        display: flex;
    }
} */

.popup {
    position: relative;
    background-color: #2D2D2D;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 20px;

}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px !important;
}

.popup-header span {
    font-size: x-large;
    font-family: 'Passion One', impact;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.popup-content,
.popup-header,
.close-button {
    margin: 0;
    color: #FFF;

    h3 {
        font-size: large;
    }

    ul {
        font-size: 13px;
        margin-left: 15px;
        list-style: unset;
    }
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button,
.ok-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f0f0f0;
    margin-right: 10px;
}

.ok-button {
    background-color: #d30215;
    color: #fff;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}