@media only screen and (max-width: 700px) {
    .nav-main {
        display: flex;
    }

    .navbar ul {
        display: none !important;
    }

    .navbar {
        justify-content: end;
    }
}

@media only screen and (max-width: 950px) {
    .about-logo {
        display: none;
    }

    .about-para {
        width: 90vw;
        height: max-content;
    }
}

@media only screen and (max-width: 720px) {
    footer {
        align-items: center;
        flex-direction: column;
    }

    .col2 {
        display: none;
    }

    .col {
        width: max-content;
    }
}

@media only screen and (max-width: 720px) {
    .sponsors {
        width: 100vw;
        height: 10px;
        background-image: linear-gradient(transparent, black);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .sponsor-by {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .sponsor-img {
            width: 50%;
        }

        h1 {
            font-size: x-large;
            font-family: 'Passion One', impact;
            color: white;
            width: fit-content;
        }

        img {
            height: 100%;
            width: 150px;
            transform: translateY(0);
            -webkit-filter: drop-shadow(0.5px 0.5px 0 rgb(255, 255, 255)) drop-shadow(-0.5px -0.5px 0 rgb(255, 255, 255));
            filter: drop-shadow(0.5px 0.5px 0 rgb(255, 255, 255)) drop-shadow(-0.5px -0.5px 0 rgb(255, 255, 255));
        }
    }
}

@media only screen and (max-width: 1050px) {
    .benefit-box {
        flex-direction: column !important;
        height: unset !important;
    }

    .benefit-single-item {
        width: 100vw !important;
        height: unset !important;
        padding: 20px;
    }
}

@media only screen and (max-width: 570px) {
    .benefit {
        h2 {
            font-size: xx-large !important;
            margin-top: 50px !important;
        }

        p {
            text-align: justify;
        }
    }
}

@media only screen and (max-width: 570px) {
    .speaker-title-links {
        margin-bottom: 30px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        font-size: 3em !important;
    }
}

@media only screen and (max-width: 700px) {
    .small-screen {
        display: flex !important;
        flex-direction: column !important;
    }

    .large-screen {
        display: none !important;
    }
}

@media only screen and (min-width: 700px) {
    .small-screen {
        display: none !important;
    }

    .large-screen {
        display: flex !important;
    }
}

@media only screen and (max-width: 700px) {
    .popup {
        width: 90vw;
    }
}